/* GENERAL CONFIGURATION */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: #000000;
}

/* HEADER CONFIGURATION */

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000000);
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999999;
}

nav {
    margin-left: 100px;
}

header img {
    width: 100px;
    height: 100%;
    margin-left: 20px;
    margin-top: -10px;
}

nav a {
    margin-right: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

nav a:hover {
    color: #ff0000;
    text-decoration-line: underline;
}

/* MAIN CONFIGURATION */

/* Sect-init */

.sect-init {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect-init video {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sect-init::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        transparent,
        rgba(0,0,0,0.5)
    );
}

.sect-init img::before {
    transform: scale(0.0);
}

.sect-init img {
    height: 400px;
    width: 400px;
    margin-top: -200px;
    z-index: 3;

}

.sect-init p {
    color: #ffffff;
    font-size: 35px;
    margin-top: 80px;
    z-index: 3;
    text-align: center;
}

/* Sect-characters */

.sect-characters {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.title h3 {
    font-size: 80px;
    color: #ff0000;
    font-weight: 100;
}

.content {
    display: flex;
}

.content div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content div img {
    width: 300px;
    height: 150px;
}

.content div h5 {
    font-size: 40px;
    margin-top: 10px;
    color: #ff0000;
    font-weight: 100;
}

/* Sect-info-legends */

.sect-info-legends {
    width: 100%;
    background-image: url(../Images/Img_background/background_main.jpg);
    background-size: cover;
    height: max-content;
}