/* GENERAL CONFIGURATION */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: #000000;
}

.strong-text, .em-text {
    font-weight: normal;
    font-style: normal;
}

/* HEADER CONFIGURATION */

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000000);
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999999;
}

nav {
    margin-left: 5%;
}

header img {
    width: 100px;
    height: 100%;
    margin-left: 20px;
    margin-top: -10px;
}

nav a {
    margin-right: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

nav a:hover {
    color: #ff0000;
    text-decoration-line: underline;
}

/* MAIN CONFIGURATION */

/* Sect-init */

.sect-init {
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect-init video {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sect-init::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        transparent,
        rgba(0,0,0,0.5)
    );
}

.sect-init img {
    height: 40%;
    width: 40%;
    margin-top: -200px;
    z-index: 3;
}

.sect-init p {
    padding: 0px 2%;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 80px;
    z-index: 3;
    text-align: center;
}

/* Configuration sect-carousel */

.sect-carousel h3 {
    font-size: 5rem;
    text-align: center;
    color: #ffffff;
    
}

.sect-carousel {
    background-image: url(../Images/Img_background/Hazy_black_ink_texture_with_brushstrokes.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

.sect-carousel .active > div {
    background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 80%));
    color: #ffffff;
}

.sect-carousel .active h5 {
    font-size: 3rem;
}

.sect-carousel .active p {
    font-size: 1.5rem;
}

/* Sect-characters */

.sect-characters {
    width: 100%;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    background-color: #000000;
}

.title h3 {
    font-size: 80px;
    color: #ff0000;
    font-weight: 100;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content div img {
    width: 300px;
    height: 150px;
}

.content div h5 {
    font-size: 40px;
    margin-top: 10px;
    color: #ff0000;
    font-weight: 100;
}

.content div:hover {
    scale: 1.2;
}

@media (max-width: 1400px) {
    .sect-characters {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: center;
        background-color: #000000;
    }
    
    .title h3 {
        font-size: 80px;
        color: #ff0000;
        font-weight: 100;
    }
    
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .content div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content div img {
        width: 80%;
        height: 150px;
    }
    
    .content div h5 {
        font-size: 30px;
        margin-top: 10px;
        color: #ff0000;
        font-weight: 100;
    }
    
    .content div:hover {
        scale: 1.2;
    }
}

/* Sect-info-legends */

@media (min-width: 1150px) {
    .sect-info-legends {
        width: 100%;
        height: max-content;
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../Images/Img_background/Hazy_black_ink_texture_with_brushstrokes.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: grid;
        grid-template-areas: 
        ". legend1 ."
        ". legend2 ."
        ". legend3 ."
        ". legend4 ."
        ". legend5 ."
        ". legend6 .";
        grid-auto-columns: minmax(200px, auto);
        grid-auto-rows: minmax(100px, auto);
        row-gap: 200px;
    }
    
    /* Each one of div from legends*/
    .sect-info-legends > div {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(100px, auto);
        background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 80%));
        box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.705);
        justify-items: center;
    }
    
    .sect-info-legends > div:hover {
        cursor: pointer;
        scale: 1.05;
    }
    
    /* All Legend */
    .sect-info-legends div > img {
        height: 400px;
        width: 400px;
        grid-column: 2;
        grid-row: 1;
        transition: all 2s ease-in-out;
    }
    
    .sect-info-legends div > h2 {
        color: #ffffff;
        font-size: 4rem;
        grid-column: 2;
        transition: all 2s ease-in-out;
    }
    
    .sect-info-legends div > div {
        color: #ffffff;
        font-size: 1.5rem;
        display: none;
        grid-column: 2;
    }
    
    .sect-info-legends div:hover > img {
        grid-column: 1;
        grid-row: 1;
        transform: translateX(-50px);
    }
    
    .sect-info-legends div:hover > h2 {
        grid-column: 1;
        grid-row: 2;
        transform: translateX(-50px);
    }
    
    .sect-info-legends div:hover > div {
        display: block;
        grid-column: 2;
        grid-row: 1;
        transition: all 2s;
        text-align: justify;
        
    }
    
    /* Order in grid-layout */
    .legend-ash {
        grid-area: legend1;
    }
    
    .legend-bloodhunter {
        grid-area: legend2;
    }
    
    .legend-catalyst {
        grid-area: legend3;
    }
    
    .legend-horizon {
        grid-area: legend4;
    }
    
    .legend-loba {
        grid-area: legend5;
    }
    
    .legend-wraith {
        grid-area: legend6;
    }
}

@media (min-width: 540px) and (max-width: 1150px) {
    .sect-info-legends {
        width: 100%;
        height: max-content;
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../Images/Img_background/Hazy_black_ink_texture_with_brushstrokes.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: grid;
        grid-template-areas: 
        ". legend1 ."
        ". legend2 ."
        ". legend3 ."
        ". legend4 ."
        ". legend5 ."
        ". legend6 .";
        grid-auto-columns: minmax(auto, auto);
        grid-auto-rows: minmax(100px, auto);
        row-gap: 200px;
    }
    
    /* Each one of div from legends*/
    .sect-info-legends > div {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
        display: grid;
        grid-template-areas: 
        ". imagen ."
        ". titulo ."
        ". texto .";
        grid-auto-columns: minmax(100px, auto);
        grid-auto-rows: minmax(100px, auto);
        background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 80%));
        box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.705);
        justify-items: center;
    }
    
    .sect-info-legends > div:hover {
        cursor: pointer;
        scale: 1.05;
    }
    
    /* All Legend */
    .sect-info-legends div > img {
        width: 400px;
        height: 400px;
        grid-area: imagen;
        transition: all 2s ease-in-out;
    }
    
    .sect-info-legends div > h2 {
        color: #ffffff;
        font-size: 4rem;
        grid-area: titulo;
        transition: all 2s ease-in-out;
    }
    
    .sect-info-legends div > div {
        color: #ffffff;
        font-size: 1.5rem;
        display: none;
        grid-area: texto;
    }
    
    .sect-info-legends div:hover > img {
        grid-area: imagen;
    }
    
    .sect-info-legends div:hover > h2 {
        grid-area: titulo;
    }
    
    .sect-info-legends div:hover > div {
        display: block;
        grid-area: texto;
        transition: all 2s;
        text-align: justify;
        
    }
    
    /* Order in grid-layout */
    .legend-ash {
        grid-area: legend1;
    }
    
    .legend-bloodhunter {
        grid-area: legend2;
    }
    
    .legend-catalyst {
        grid-area: legend3;
    }
    
    .legend-horizon {
        grid-area: legend4;
    }
    
    .legend-loba {
        grid-area: legend5;
    }
    
    .legend-wraith {
        grid-area: legend6;
    }
}

@media  (max-width: 539px) {
    .sect-info-legends {
        width: 100%;
        height: max-content;
        position: relative;
        padding-top: 100px;
        background-image: url(../Images/Img_background/Hazy_black_ink_texture_with_brushstrokes.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
    }
    
    /* Each one of div from legends*/
    .sect-info-legends > div {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 80%));
        box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.705);
        justify-items: center;
        align-items: center;
    }
    
    .sect-info-legends > div:hover {
        cursor: pointer;
        scale: 1.05;
    }
    
    /* All Legend */
    .sect-info-legends div > img {
        width: 90%;
        height: 400px;
        transition: all 2s ease-in-out;
    }
    
    .sect-info-legends div > h2 {
        color: #ffffff;
        font-size: 4rem;
        transition: all 2s ease-in-out;
    }
    
    .sect-info-legends div > div {
        width: 90%;
        color: #ffffff;
        font-size: 1.5rem;
        display: none;
    }
    
    .sect-info-legends div:hover > div {
        display: block;
        transition: all 2s;
        text-align: justify;
    }

}

/* FOOTER CONFIGURATION */

@media (min-width: 1400px) {
    footer {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        border-top: 10px solid #ff0000;
    }
    
    footer > div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #ffffff;
    }
    
    .info {
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-evenly;
    }
    
    .info a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .info a:hover {
        color: #ff0000;
        text-decoration-line: underline;
    }
    
    .socials {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
    }
    
    .socials h4 {
        font-size: 5rem;
    }
    
    .socials div {
        width: 100%;
        height: 100%;
        display: flex;
        padding-right: 580px;
        padding-left: 580px;
        justify-content: space-evenly;
        align-items: center;
    }
    
    footer img {
        width: 50px;
        height: 50px;
    }
    
    .made-by {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1400px) {
    footer {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        border-top: 10px solid #ff0000;
    }
    
    footer > div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #ffffff;
    }
    
    .info {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .info a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .info a:hover {
        color: #ff0000;
        text-decoration-line: underline;
    }
    
    .socials {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
    }
    
    .socials h4 {
        font-size: 3rem;
    }
    
    .socials div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-right: 10%;
        padding-left: 10%;
        justify-content: space-evenly;
        align-items: center;
    }
    
    footer img {
        width: 50px;
        height: 50px;
    }
    
    .made-by {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}